header.header
    container-fluid
        .row.align-items-center
            .col-3
                .inner-logo
                    a(href="/admin/dashboard") ADMIN
            .col-9.text-right
                a(href="/admin/auth/login" class="btn btn-primary btn-sm") Đăng nhập